/* LOGO / NAVIGARION / FOOTER - style.css */

nav #menu li:nth-child(3) {
  background-color: #fff;
}
nav #menu li:nth-child(3) a {
  color: #000;
}

/* SHOWCASE */
#showcase {
  background: url("../images/makeUp/makeUpBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100vw;
  height: 100vh;
  position: relative;
}

/* INFO SECTION */
/* INFO 1 */
#info1 img {
  width: 100%;
  position: absolute;
  top: -15rem;
}

#info1 .info-right {
  padding: 7rem 2rem;
  text-align: center;
}

#info1 .info-right p {
  line-height: 1.5;
  padding-bottom: 2rem;
}

#info1 .info-right h2 {
  padding-bottom: 3rem;
  font-family: "Open Sans Condensed", sans-serif;
  color: #c9191c;
  /* font-size: 3rem; */
  font-weight: 700;
}

/* INFO 2 */
#info2 {
  background-color: #000;
}
#info2 .col-md-3,
#info2 .col-sm-4,
#info2 .col-md-9,
#info2 .col-sm-8 {
  padding: 0;
}
#info2 .info-left {
  padding: 4rem 2rem;
}
#info2 .info-left #smTop {
  color: #ccc;
  margin-bottom: 0;
  font-family: "Open Sans Condensed", sans-serif;
  text-transform: uppercase;
}
#info2 .info-left h2 {
  color: #c9191c;
  margin-top: 0.3rem;
  font-family: "Roboto", sans-serif;
}
#info2 .info-left p {
  color: #aaa;
  padding-top: 2rem;
}
#info2 .info-right video {
  width: 100%;
}

/* INFO 3 */
#info3 {
  padding: 8rem 0;
}
#info3 img {
  width: 100%;
}
#info3 .info-middle {
  padding: 8rem 2rem 7rem;
  text-align: center;
}

#info3 .info-middle h2 {
  padding-bottom: 2rem;
}

/* MEDIA QUERIES */

@media (max-width: 1200px) {
  /* INFO 1 */

  #info1 .info-right {
    padding: 5rem 2rem;
  }

  #info1 .info-right h2 {
    padding-bottom: 2rem;
    font-size: 2.5rem;
  }

  /* INFO 2 */
  #info2 .info-left {
    padding: 2rem 2rem;
  }
  #info2 .info-left h2 {
    font-size: 2.5rem;
  }
  #info2 .info-left p {
    font-size: 1.3rem;
  }

  /* INFO 3 */
  #info3 .info-middle {
    padding: 6rem 2rem;
  }
  #info3 .info-middle h2 {
    padding-bottom: 1rem;
  }
}

@media (max-width: 1000px) {
  /* INFO 1 */
  #info1 .info-right {
    padding: 2rem;
  }

  /* INFO 2 */
  #info2 .info-left {
    padding: 1.5rem;
  }
  #info2 .info-left h2 {
    font-size: 2.5rem;
  }

  /* INFO 3 */
  #info3 .info-middle {
    padding: 2rem;
    font-size: 1.1rem;
  }
  #info3 .info-middle h2 {
    font-size: 2.3rem;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  #showcase {
    background: url("../images/makeUp/makeUpBg_sm.jpg") no-repeat;
  }

  #info1 img {
    width: 60%;
    top: -35rem;
  }
  #info1 .info-right {
    background-color: rgba(250, 250, 250, 0.7);
  }
  #info1,
  #info2 {
    margin: 1.5rem 0;
  }
  #info2 .info-left {
    background-color: #000;
    padding: 1rem;
    margin: 0;
    text-align: center;
  }

  #info3 {
    padding: 0;
  }
}
